html{
  position:relative;
  min-height: 100%;
}

html,body{
  margin:0;
  padding:0;
}

.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
}

.scores, .actions {
  display:flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}

.scores {
  justify-content: space-evenly;
}

.actions {
  justify-content: space-evenly;
  margin: 50px 350px 50px 350px;
}

h1, h2, p, div {
  font-family :'Roboto';
  margin: 2%;
  text-align : center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p, div {
  font-size: 20px;
}

button{
  background-color: rgb(183, 70, 214);
  border-radius: 10px;
  color: whitesmoke;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  width:max-content;
}

.actions button {
  position: relative;
}

.game-stats {
  pading-top: 20px;
  padding-bottom: 40px;
}
header, footer{
  background-color: rgb(218, 152, 28) ;
  color: white;
  line-height: 2;
  width: 100%;
}

header {
  padding-left: 10px;
}

footer {
  bottom: 0;
  position: absolute;
  text-align: center;
}
