html {
  position:relative;
  min-height: 100%;
}

html,body{
  margin:0;
  padding:0;
}

.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
}

.scores, .actions {
  display:flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}

.scores {
  justify-content: space-evenly;
}

h1, h2 {
  font-family :'Permanent Marker', cursive;
}

p, div {
  font-family: 'Roboto';
}


h1, h2, p, div {
  margin: 2%;
  text-align : center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

button {
  background-color: rgb(184, 117, 186);
  border-radius: 10px;
  color: whitesmoke;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

#reset {
  padding: 20px;
  width: 20%;
}

.actions {
  display: flex;
  justify-content: space-around;
  padding: 0 100px 20px 100px;
}
/* .actions button {
  position: relative;
} */

.reset-section {
  padding-top: 20px;
  padding-bottom: 50px;
}

header, footer{
  background-color: rgb(231, 129, 33) ;
  color: white;
  width: 100%;
}

header {
  padding-left: 10px;
  line-height: 2;
}

footer {
  position: absolute;
  text-align: center;
}

strong {
  text-decoration: underline;
}
